= stylesheet_link_tag "header_style", "data-turbo-track": "reload"
= stylesheet_link_tag "body_style", "data-turbo-track": "reload"
= stylesheet_link_tag "footer_style", "data-turbo-track": "reload"
= stylesheet_link_tag "images", "data-turbo-track": "reload"
= stylesheet_link_tag "typography", "data-turbo-track": "reload"
= stylesheet_link_tag "colours", "data-turbo-track": "reload"
= stylesheet_link_tag "nouislider.min", "data-turbo-track": "reload"
= stylesheet_link_tag "nouislider", "data-turbo-track": "reload"
= stylesheet_link_tag "login", "data-turbo-track": "reload"
= stylesheet_link_tag "user_profile", "data-turbo-track": "reload"
